<template>
    <form @submit.prevent="submit">
        <div class="form-group">
            <label for="title">Title: </label>
            <input type="text" id="title" class="form-control" v-model="fields.title" dusk="job-title-input"/>
            <div v-if="errors && errors.title" class="text-danger"> {{ errors.title[0] }}</div>
        </div>
        <div class="form-group">
            <label for="description">Description: </label>
            <textarea class="form-control" id="description" rows="3" v-model="fields.description" dusk="job-description-textarea"></textarea>
            <div v-if="errors && errors.description" class="text-danger">{{ errors.description[0] }}</div>
        </div>
        <div class="form-group">
            <label for="email">Email: </label>
            <input type="email" class="form-control" id="email" v-model="fields.email" dusk="job-email-input"/>
            <div v-if="errors && errors.email" class="text-danger"> {{ errors.email[0] }}</div>
        </div>
        <button type="submit" class="btn btn-primary" dusk="job-submit-button">Submit Job</button>

        <div v-if="success" class="alert alert-success mt-3" dusk="success-message-div">
            Message Sent!
        </div>
    </form>
</template>

<script>
export default {
    data() {
        return {
            fields: {},
            errors:{},
            success: false,
            loaded: true,
        }
    },
    methods: {
        submit() {
            if(this.loaded) {
                this.loaded = false;
                this.success = false;
                this.errors = {};
                axios.post('submit', this.fields).then(response => {
                    this.fields = {};
                    this.loaded = true;
                    this.success = true;
                }).catch(error => {
                    this.loaded = true;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors || {};
                    }
                });
            }
        },
    },
}
</script>
